<h1>Quick Start Guide</h1>

<article>

<details>
  <summary>Adding a New Point</summary>
  <ol>
    <li>Click the "Add Points" button</li>
    <%= image_tag("view_point_photos/step_one.png", :alt => "Home page for Points", :style => "height: 800px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Fill in the fields and click "Send"</li>
    <%= image_tag("add_point_photos/step_two.png", :alt => "Form for Adding Points", :style => "height: 800px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Your point has now been submitted for review.</li>
  </ol>
</details>

<details>
  <summary>Understand Your Points</summary>
  <ol>
    <li>The Points page shows your total points, your individual points, and your point totals sorted by category.</li>
    <%= image_tag("view_point_photos/step_one.png", :alt => "Home page for Points", :style => "height: 800px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>If you have points awaiting review by a leader, they will also appear on this page.</li>
    <li>Your "Total Points" only shows your total of approved points. Points that are pending review or have been denied are not added to this total.</li>
    <li>Under "Your Points", points have been approved or denied appear here.</li>
  </ol>
</details>

<details>
  <summary>Create a Reimbursement Request</summary>
  <ol>
    <li>Click "Reimbursements" on the left side of the screen</li>
    <%= image_tag("create_budget/step_one.png", :alt => "Navigation Bar for Members", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Click "New Reimbursement Request"</li>
    <%= image_tag("create_budget/step_two.png", :alt => "Home page for Reimbursement Requests", :style => "height: 350px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Fill in the fields and click "Send"</li>
    <%= image_tag("create_budget/step_three.png", :alt => "Form for Creating Reimbursement Request", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>The budget request was submitted. You can now return to Reimbursement Request screen</li>
  </ol>
</details>

<details>
  <summary>Approve and Deny Points (Leaders/Executives)</summary>
  <ol>
    <li>Under "Admin", click "Point Requests"</li>
    <%= image_tag("review_point/step_one.png", :alt => "Navigation Bar for Leaders/Executive", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>A list of points waiting for approval will appear. Click "Approve" on the point you want approved. To deny, click "Deny"</li>
    <%= image_tag("review_point/step_two.png", :alt => "Page for Reviewing Points", :style => "height: 400px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>The point will disappear from the list. This means the point was approved or denied</li?
  </ol>
</details>

<details>
  <summary>Reviewing Reimbursement Requests (Leaders/Executives)</summary>
  <ol>
    <li>Under "Admin", click "Reimbursement Requests"</li>
    <%= image_tag("review_point/step_one.png", :alt => "Navigation Bar for Leaders/Executive", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>A list of requests waiting for approval will appear. Click "Approve" on the request you want approved. To deny, click "Deny"</li>
    <%= image_tag("review_point/step_two.png", :alt => "Page for Reviewing Points", :style => "height: 400px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>The request will disappear from the list. This means the request was approved or denied</li>
  </ol>
</details>

<details>
  <summary>Adding a New Member (Leaders/Executives)</summary>
  <ol>
    <li>Under "Admin", click "Members"</li>
    <%= image_tag("review_point/step_one.png", :alt => "Navigation Bar for Leaders/Executive", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>A list of members will appear. Click "New Member" at the top of the page</li>
    <%= image_tag("add_member/step_two.png", :alt => "Page for Members", :style => "height: 400px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Fill out the fields and click "Submit". Be sure to fill in all the fields appropriately
      <ul>
        <li>The Email should be an existing tamu email</li>
        <li>If you're having an issue with Phone field, double check the phone number and try using the format XXX-XXX-XXXX</li>
      </ul>
    </li>
  </ol>
</details>

<details>
  <summary>Creating a Point Category (Executives)</summary>
  <ol>
    <li>Under "Admin", click "Point Categories"</li>
    <%= image_tag("review_point/step_one.png", :alt => "Navigation Bar for Leaders/Executive", :style => "height: 500px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Click "Add Category"</li>
    <%= image_tag("point_category/step_two.png", :alt => "Page for Point Categories", :style => "height: 400px; display: block; margin-left: auto; margin-right: auto;") %>
    <li>Fill in the fields and click "Create Point Category"</li>
    <li>The Point Category has been created. You can now return back to the Point Category screen</li>
  </ol>
</details>

</article>
