<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Reimbursement Requests</h1>

<% @pending_budgets.each do |pending_budget| %>
<article>
<table>
  <tbody>
    <tr>
      <th scope="row">Request sent by</th>
      <td><%= pending_budget.admin.full_name %></td>
    </tr>
    <tr>
      <th scope="row">Requester</th>
      <td><%= pending_budget.requester_name %></td>
    </tr>
    <tr>
      <th scope="row">Requester’s Phone</th>
      <td><%= pending_budget.phone %></td>
    </tr>
    <tr>
      <th scope="row">Requester’s Mailing Address</th>
      <td><%= pending_budget.mailing_address %></td>
    </tr>
    <tr>
      <th scope="row">Requester’s Affiliation</th>
      <td><%= pending_budget.tamu_affiliation %></td>
    </tr>
    <tr>
      <th scope="row">Requester’s UIN</th>
      <td><%= pending_budget.uin %></td>
    </tr>
    <tr>
      <th scope="row">Cost of Purchase</th>
      <td><%= pending_budget.value %></td>
    </tr>
    <tr>
      <th scope="row">Purchase Description</th>
      <td><%= pending_budget.description %></td>
    </tr>
    <tr>
      <th scope="row">Payment Method</th>
      <td><%= pending_budget.mail_option %></td>
    </tr>
  </tbody>
</table>

<footer>
  <%= link_to 'Approve', approve_budget_review_budget_reviews_path(pending_budget.id), method: :get, role: 'button', style: 'margin-right: var(--spacing)' %> 
  <%= link_to 'Deny', deny_budget_review_budget_reviews_path(pending_budget.id), method: :get, role: 'button', class: 'secondary outline' %>
</footer>
</article>
<% end %>

<% if @pending_budgets_count > 5 %>
<footer>
<%= will_paginate @pending_budgets %>
</footer>
<% end %>