<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Points</h1>

<article class="total-points">
  <div class="flex-space-between">
    <div>Total Points</div>
    <div><strong><%= @user_total_points %></strong></div>    
  </div>
</article>

<%= link_to "Add Points", new_point_path, role: "button", style: 'width:100%' %>

<%# Shows point totals by category %>
<% if @pending_points.count != 0 %>
<article id="pending-points">
  <header>Awaiting Review</header>
  <% @pending_points.each do |point| %>
    <%= render point %>
  <% end %>
</article>
<% end %>

<article>
  <div class="block-space-between">
    <% @num_per_category.each do |point| %>
      <div><strong><%= point.first %> &emsp;&emsp; <%= point.last %></strong></div>
    <% end %>
  </div>
</article>

<article id="verified-points">
  <header>Your Points</header>
  <% if @points.count == 0 %>
    <span class="helper-text block" style="text-align: center">No verified points yet! <%= link_to "Ready to submit points?", new_point_path %></span>
  <% else %>
  <% @points.each do |point| %>
    <%= render point %>
  <% end %>
  <% if @points_count > 5 %>
  <footer>
  <%= will_paginate @points %>
  </footer>
  <% end %>
</article>
<% end %>

<!--Button to delete all points-->
<% if current_admin.role == "Executive" %>
  <%= link_to 'Delete All Points', delete_points_points_path, data: { turbo_method: :get, turbo_confirm: 'Are you sure?'}, role: 'button' %>
<% end %>
