<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Points</h1>
<h1><%= @num_per_category %></h1>

<article class="total-points">
  <div class="flex-space-between">
    <div>Total Points</div>
    <div><strong><%= @user_total_points %></strong></div>    
  </div>
</article>

<%= link_to "Add Points", new_point_path, role: "button" %>

<article id="verified-points">
  <header>Awaiting Review</header>
  <% @points.each do |point| %>
    <% if point.is_approved == nil %>
      <%= render point %>
    <% end %>
  <% end %>
</article>

<article id="verified-points">
  <% @points.each do |point| %>
    <% if point.is_approved || point.is_approved == false %>
      <%= render point %>
    <% end %>
  <% end %>
</article>

<article id="verified-points">
  <div class="block-space-between">
    <% @num_per_category.each do |point| %>
      <div><strong><%= point.first %> &emsp;&emsp; <%= point.last %></strong></div>
    <% end %>
  </div>
</article>