<h1>Points</h1>

<article class="total-points">
  <div class="flex-space-between">
    <div>Total Points</div>
    <div><strong><%= @user_total_points %></strong></div>    
  </div>
</article>

<%= link_to "Add Points", new_point_path, role: "button", style: 'width:100%' %>

<%# Shows point totals by category %>
<% if @points.count > 0 %>
<article>
  <header>Points by Category</header>
  <table style="margin-top: 0">
    <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Your Total</th>
    </tr>
    </thead>
    <% @num_per_category.each do |point| %>
    <tr>
      <td><%= point.first %></td>
      <td><%= point.last %> pts</td>
    </tr>
    <% end %>
  </table>
</article>
<% end %>

<% if @pending_points.count != 0 %>
<article id="pending-points">
  <header>Awaiting Review</header>
  <% @pending_points.each do |point| %>
    <%= render point %>
  <% end %>
</article>
<% end %>

<article id="verified-points">
  <header>Your Points</header>
  <% if @points.count == 0 %>
    <span class="helper-text block" style="text-align: center">Points that are verified or denied will appear here</span>
  <% else %>
  <% @points.each do |point| %>
    <%= render point %>
  <% end %>
  <% if @points_count > 5 %>
  <footer>
  <%= will_paginate @points %>
  </footer>
  <% end %>
</article>
<% end %>
