<tr id="<%= dom_id admin %>">
  <th scope="row"><%= admin.full_name %></th>
  <td><%= admin.email %></td>
  <td><%= admin.phone %></td>
  <td><%= admin.role %></td>
  <td><%= link_to "Edit", edit_admin_path(admin.id) %></td>
</tr>
