<div id="<%= dom_id admin %>">
  <p>
    <strong>Name:</strong>
    <%= admin.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= admin.phone %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= admin.role %>
  </p>

</div>