<!-- <p style="color: blue"><%= notice %></p> -->

<h1>Members</h1>

<div id="members">
  <% @admins.each do |admin| %>
    <%= render admin %>
    <p>
      <%= link_to "Show this member", admin %>
    </p>
  <% end %>
</div>

<%= link_to "New Member", new_admin_path %>
<br />
<%= link_to "Back to points", points_path %>
