<!-- <p style="color: green"><%= notice %></p> -->

<h4>Member View</h4>

<%= render @admin %>

<div>
  <%= link_to "Edit this Member", edit_admin_path(@admin) %> |
  <%= link_to "Back to Members", admins_path %>

  <%= button_to "Delete this Member", @admin, method: :delete %>
</div>
