<p style="color: green"><%= notice %></p>

<%= render @point_category %>

<div>
  <%= link_to "Edit this point category", edit_point_category_path(@point_category) %> |
  <%= link_to "Back to point categories", point_categories_path %>

  <%= button_to "Destroy this point category", @point_category, method: :delete %>
</div>
