<div style="margin-top: -10px; margin-bottom: 30px">
  <%= render partial: 'layouts/logo' %>
</div>

<aside>
  <nav>
    <ul>
    <% if current_admin.role == "Executive" || current_admin.role == "Leader" %>
    <li role="list" dir="rtl">
      <a href="" aria-haspopup="listbox">Admin</a>
      <ul role="listbox">
        <li><%= link_to "Members", members_path %></li>
        <li><%= link_to "Point Requests", point_reviews_path %></li>
        <li><%= link_to "Point Categories", point_categories_path %></li>
        <li><%= link_to "Reimbursement Requests", budget_reviews_path %></li>
        <li><%= link_to "Reimbursement Categories", budget_categories_path %></li>
      </ul>
      </li>
    <% end %>
      <li><%= link_to "Points", points_path %></li>
      <li><%= link_to "Reimbursements", budget_requests_path %></li>
      <li role="list" dir="rtl">
        <a href="" aria-haspopup="listbox">
          <img src=<%= current_admin.avatar_url %> alt=<%= current_admin.full_name %> class="avatar" width="30px" height="30px">
          <%= current_admin.full_name %>
        </a>
        <ul role="listbox">
          <li><a href="#">Settings</a></li>
          <li><%= link_to "Help", 'help/home' %></li>
          <li><%= link_to "Sign Out", destroy_admin_session_path %></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
