<!DOCTYPE html>
<html>
  <head>
    <title>FLEX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
  </head>

  <body>
    <div class="container" style="margin-top: 30px">
        <div class="row">
          <div class="col col-span-4">
            <% if current_admin %>
            <%= render partial: 'layouts/nav' %>
            <% end %>
          </div>
          <div class="col col-span-8">
              <% if flash.any? %>
                <% flash.each do |key, value| -%>
                  <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
                <% end -%>
              <% end %>
              <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
